body{
    background-color: rgb(230, 176, 110);

}
.button{
    background-color: white;
    color:black;
    padding: 15px 32px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 25px;
    transition: 0.8s;
}
.button1{
    background-color: white;
    color:black;
    padding: 15px 32px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 25px;
    transition: 0.8s;
}
.button:hover{
    background-color: green;
}
.button1:hover{
    background-color: red;
}